---
# 配置文件
---

@import "minimal-mistakes";

/* --- 自定义修改开始 --- */

/* 1. 强制头像图片居中 */
.author__avatar {
  display: table; /* 或者 block */
  margin-left: auto;
  margin-right: auto;
}

/* 2. 强制头像内部的图片居中 */
.author__avatar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 3. 强制名字和 Bio 介绍文字居中 */
.sidebar .author__content {
  text-align: center;
}

.author__urls.social-icons {
  text-align: center;
}
.author__urls.social-icons li {
  display: inline-block; /* 让图标横排居中 */
  float: none;
}


/* 侧边栏名字 */
.author__name {
  font-size: 20px !important;    
  font-weight: 700 !important;   
  line-height: 1.5;              /* 行高 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 简洁的无衬线字体 */
}

/* 侧边栏 Bio (简介) */
.sidebar .author__bio {
  font-size: 16px !important;
  margin-top: 10px;              /*名字和简介稍微拉开一点距离*/
}

/* 3. 正文文字  */
body {
  font-size: 16px !important;    
  line-height: 1.6;              
}

/* 4. 各级标题 (News, Publications) */
h2 {
  font-size: 26px !important;    /* 二级标题大小 */
  font-weight: 700;
  border-bottom: 1px solid #eaecef; /* 标题下面分割线 */
  padding-bottom: 0.3em;
}

h3 {
  font-size: 22px !important;    /* 三级标题 */
}
